<html lang="en">
    <head>{% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mas</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="../static/css/diseño.css">
        <script src="https://kit.fontawesome.com/6a6cd02302.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <style>
          body {
              overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */
          }
          
  
          .container {
              max-width: 1000px; /* Establece un ancho máximo para el contenido */
              margin: 0 auto; /* Centra el contenedor horizontalmente */
          }
      </style>
    </head>
    <body class="container-fluid ">
    <header >
        <div class="foto_titulo">
        <img src="{% static '../static//imagenes/plagio.png' %}" alt="encabezado" width="100%" height="200">
        </div>
      <br><br>
    </header>
    <div class="container-fluid"></div>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link" href="../">Inicio</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="../tutorial">Tutoriales</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link active" href="../mas">Mas</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="../comunidad">Comunidad</a>
                  </li>
              </ul>
          </div>
      </div>
      <br><br>
  </nav>
  
  <article>
    <div class="row">
      <div class="col-xl-1"></div>
      <div class="col-xl-6">
    <h1>¡Esto te puede interesar!</h1>
    <div class="row">
    <div class="card" style="width:300px">
        <img class="card-img-top" src="{% static '../static//imagenes/moyu.jpg' %}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Moyu WeiLong </h4>
          
        </div>
      </div>
      <div class="card" style="width:300px">
        <img class="card-img-top" src="{% static '../static//imagenes/gan_11.jpg' %}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">Gan 11 Air </h4>
          
        </div>
      </div>
      <div class="card" style="width:300px">
        <img class="card-img-top" src="{% static '../static//imagenes/qiyi_warrior.jpg' %}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">QiYi Warrior </h4>
          
        </div>
      </div>
    </div>
   
    <p> Estos son unos de los mejores cubos que puedes elegir para comprar, aqui en 
        cubeplaze recomendamos a <a href="https://www.soletta.cl/collection/cubos-principal">Soletta</a> para comprar cubos de rubik de  calidad, 
        tambien recomendamos algunos canales de youtube de hablahispana muy buenos para aprender y/o mejorar en el mundo del cubo de rubik
    como cuby, Jscuber, Arspeedcube, kibur</p>
  </div>
  <div class="col-xl-3"><br><br>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/bmEXR_iBUMo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
  </div>
  </div>
  </article>
    <section>
      <div class="row">
        <div class="col-xl-1"></div>
        <div class="col-xl-8">

          <h1 >Grandes cuberos</h1><br><br>
        </div>
    
  </div>
    <div class="row">
       <div class="col-xl-1"></div>
        <div class="col-xl-2">
    <div class="card" style="width:300px">
      <div class="tamaño_img">
        <img class="card-img-top" src="{% static '../static//imagenes/feliks.jfif' %}" alt="Card image">
      </div>
        <div class="card-body">
          <h4 class="card-title">Feliks Zemdegs </h4>
        </div>
    </div><br><br>
    <div class="card" style="width:300px ">
      <div class="tamaño_img">
        <img class="card-img-top"  src="{% static '../static/imagenes/Mark-2.png' %}" alt="Card image">
        </div>
            <div class="card-body">
              <h4 class="card-title">Max Park</h4>
            </div>
        </div>

        </div>  
    
    <div class="col-xl-1"></div>
    <div class="col-xl-2"><br><br><br><br>
        <p>Feliks Zemdegs es conciderado una leyenda y tambien el mejor Speedcuber de todos,
        en sus tiempos de oro logro pocisionarse como el numero 1 en casi todas las categorias de cubo de rubik en las que participaba
    </p><br><br><br><br><br><br> <br><br><br>
    <p>
      Max Park es otro speedcuber legendario, normalmente cuando se aprende a armar cubo rubik se comienza con el metodo principiante
      y luego pasarse al fridrich, pero el empezo con fridrich, actualmente tiene el record de cubo rubik 3x3 informal, siendo de 2.74 segundos
    </p>
</div>
    <div class="col-xl-1"></div>
    
    <div class="col-xl-2">
    <div class="card" style="width:300px">
      <div class="tamaño_img">
        <img class="card-img-top" src="{% static '../static//imagenes/jessicaF.jfif' %}" alt="Card image">
        </div>
        <div class="card-body">
          <h4 class="card-title">Jessica Fridrich        </h4>
        </div>
    </div><br><br>
    <div class="card" style="width:300px">
      <div class="tamaño_img">
        <img class="card-img-top" src="{% static '../static//imagenes/ernoR.jfif' %}" alt="Card image">
        </div>
        <div class="card-body">
          <h4 class="card-title">Ernő Rubik</h4>
        </div>
    </div>

</div>
    
<div class="col-xl-1"></div>
    
<div class="col-xl-2"><br><br><br><br>
  <p>
  Jessica Fridrich, mas conocida por su metodo CFOP o mas conocido por metodo fridrich o metodo avanzado
    , es la creadora del metodo con el cual
    la gran mayoria de speedcubers utilizan para armar su cubo de rubik y por eso se le atribuye su apellido.</p>
    <br><br><br><br><br><br><br><br>
    <p>
      Erno Rubik, como ya se lo estan imaginando, el es el creador del Cubo de Rubik, es un profesor de la Escuela de Artes Comerciales de Budapest,
      Erno Rubik buscaba la manera de hacer que sus alumnos universitarios entendieran algunos conceptos geométricos. Al final, 
      con unas piezas de madera y unas gomas elásticas le dio forma a un cubo, que cada una de sus seis caras les otorgo un color.

    </p>
</div>
<div class="col-xl-1"></div>
<br><br>

   
</div>

<br><br><br><br><br>

</section>

<footer class="pie-pagina">
  <div class="grupo-1">
    <div class="box">
      <h2>SIGUENOS</h2>
      <div class="red-social">
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-youtube"></a>
      </div>
    </div>
  </div>
</footer>
<!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper --> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
    
</body>
</html>