<html lang="en">
<head>{% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutoriales</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="../static/css/diseño.css">
    <script src="https://kit.fontawesome.com/6a6cd02302.js" crossorigin="anonymous"></script>
    <style>
      body {
          overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */
      }

      .container {
          max-width: 1000px; /* Establece un ancho máximo para el contenido */
          margin: 0 auto; /* Centra el contenedor horizontalmente */
      }
  </style>
</head>
<body class="container-fluid ">
    
    
        <header >
            <div class="foto_titulo">
            <img src="{% static '../static/imagenes/plagio.png' %}" alt="encabezado" width="100%" height="200">
            </div>
          <br><br>
        </header>
        <div class="container-fluid"></div>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
          <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                      <li class="nav-item">
                          <a class="nav-link" href="../">Inicio</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link active" href="../tutorial">Tutoriales</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link " href="../mas">Mas</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="../comunidad">Comunidad</a>
                      </li>
                  </ul>
              </div>
          </div>
          <br><br>
      </nav>
      <br><br>
    <section>
        <div class="row">
            <div class="col-xl-1"></div>
            <div class="col-xl-2">
        <div class="card" style="width:400px">
            <img class="card-img-top" src="{% static '../static/imagenes/3x3p.png' %}" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Metodo Principiante</h4>
              <p class="card-text">Es el mejor metodo para empezar a armar el cubo de rubik 3x3.</p>
              <a href="#" class="btn btn-primary">¡Quiero aprenderlo!</a>
            </div>
          </div>
          <br><br>
          <div class="card" style="width:400px">
            <img class="card-img-top" src="{% static '../static/imagenes/2X2P.webp' %}" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">2x2 Principiante</h4>
              <p class="card-text">aunque sea mas facil que el 3x3, pero se recomienda saber armar el 3x3</p>
              <a href="#" class="btn btn-primary">¡Quiero aprenderlo!</a>
            </div>
          </div>
          <br><br>
          <div class="card" style="width:400px">
            <img class="card-img-top" src="{% static '../static/imagenes/megaminxp.jfif' %}" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Megaminx</h4>
              <p class="card-text">aunque parezca dificil, no lo es, es muy parecido de armar como el cubo 3x3 tradicional</p>
              <a href="#" class="btn btn-primary">¡Quiero aprenderlo!</a>
            </div>
          </div>
        </div>
        <div class="col-xl-1"></div>
        <div class="col-xl-2">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="{% static '../static/imagenes/PIRAMINXP.webp' %}" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Pyraminx principiante</h4>
                  <p class="card-text">un metodo muy sencillo para aprender a armar esta piramide 3x3</p>
                  <a href="#" class="btn btn-primary">¡Quiero aprenderlo!</a>
                </div>
              </div>
              <br><br>
          <div class="card" style="width:400px">
            <img class="card-img-top" src="{% static '../static/imagenes/4x4P.webp' %}" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Metodo principiante(4x4)</h4>
              <p class="card-text">El metodo perfecto para iniciarse en los cubos de 4x4</p>
              <a href="#" class="btn btn-primary">¡Quiero aprenderlo!</a>
            </div>
          </div>
          <br><br>
          <div class="card" style="width:400px">
            <img class="card-img-top" src="{% static '../static/imagenes/4x4Yau.jpg' %}" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Metodo Yau(4x4)</h4>
              <p class="card-text">El uno de los mejores metodos para poder hacer speedcube con el 4x4</p>
              <a href="#" class="btn btn-primary">¡Quiero aprenderlo!</a>
            </div>
          </div>
        </div>
        <div class="col-xl-1"></div>
        <div class="col-xl-2">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="{% static '../static/imagenes/notacion.webp' %}" alt="Card image">
                <div class="card-body">
                  <h4 class="card-title">Notacion</h4>
                  <p class="card-text">La notacion es muy importante para poder avanzar en el speed cube</p>
                  <a href="#" class="btn btn-primary">¡Quiero Aprenderlo!</a>
                </div>
              </div>
              <br><br>
          <div class="card" style="width:400px">
            <img class="card-img-top" src="{% static '../static/imagenes/fridrich_reducido.jpg' %}" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Fridrich reducido(CFOP)</h4>
              <p class="card-text">Tambien conocido como el metodo avanzado para armar el 3x3</p>
              <a href="#" class="btn btn-primary">¡Quiero aprenderlo!</a>
            </div>
          </div>
          <br><br>
          <div class="card" style="width:400px">
            <img class="card-img-top" src="{% static '../static/imagenes/fridrich_completo.png' %}" alt="Card image">
            <div class="card-body">
              <h4 class="card-title">Fridrich Completo</h4>
              <p class="card-text">es un metodo que cuenta con 120 algoritmos, te recomendamos aprenderlo con calma</p>
              <a href="#" class="btn btn-primary">¡Quiero aprenderlo!</a>
            </div>
          </div>
          
        </div>
        
        <div class="col-xl-2"></div>
          
          
          
          
          
          
        </div>
        <br><br><br>
        <div class="row">
          <div class="col-xl"></div>
          <div class="col-xl" style="background-color: #0edac9bb;">
            <br><br><br>
        <div style="text-align: center;">
          <h1> ¡ayudanos a crecer y agrega un algoritmo que te sepas y no tengamos!</h1><br><br><br>
          <a href="../comunidad" class="btn btn-primary">agregar algoritmo nuevo</a><br><br><br>
        </div>
      </div>
      <div class="col-xl"></div>
    </div>
    </section>


    <footer class="pie-pagina">
      <div class="grupo-1">
        <div class="box">
          <h2>SIGUENOS</h2>
          <div class="red-social">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-youtube"></a>
          </div>
        </div>
      </div>
    </footer>
      <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper --> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>
</html>